body {
    font-family: monospace;
    font-size: 16px;

    padding: 2em;
    box-sizing: border-box;
}

#directory {
    margin: auto;

    width: 100%;
    max-width: 200px;

    line-height: 1.25em;
    padding: 1em;

    border-style: solid;
    border-radius: 1em;
    border-color: #000000;
    border-width: 2px;
}

#galleryHeader {
    margin: auto;
    display: none;

    width: 100%;
    max-width: 1500px;
}

#galleryHeader > button {
    border: none;
    background: none;

    font-weight: bolder;

    padding: 0;
}

#gallery {
    margin: auto;
    display: none;

    width: 100%;
    max-width: 1500px;

    gap: 2em;
}

#fullscreen {
    width: 100vw;
    height: 100vh;

    background-color: white;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 1000;

    display: none;
    align-items: center;
}

#fullPicture {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    padding: 2em;
    box-sizing: border-box;

    display: none;
}

#loading {
    width: 100vw;
    height: 100vh;

    background-color: white;
    color: black;

    position: fixed;
    top: 0;
    left: 0;

    text-align: center;
    vertical-align: middle;
    line-height: 100vh; 

    z-index: 1001;

    display: none;
}

#fullscreen > button {
    position: fixed;
    top: 0;
    right: 0;
    border: none;
    background: none;
    font-size: 2em;
    padding: 0;
    width: 1em;
    height: 1em;
    line-height: 1em;
}

nav {
    width: 100%;

    text-align: center;

    margin: 0 auto 1em auto;
}

nav > img {
    display: none;
}

nav a:link, a:visited, a:hover, a:active {
    color: black;
    text-decoration: none;
}

div {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

@media (min-width: 600px) {
    nav > img {
        display: inline;
        width: 4em;
        height: 4em;
        border-radius: 2em;
    }

    body {
        font-size: 18px;
    }
}
