body {
    height: 100vh;

    color: #FFF;
    font-family: monospace;
    font-size: 16px;

    padding: 2em;
    box-sizing: border-box;

    display: flex;
    align-items: center;

    background-image: url("../images/background-image-portrait.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #F0F;
}

ul {
    list-style-type: disc;
    margin-left: 2em;
}

#main {
    background-color: rgba(0, 0, 0, 0.8);

    width: 100%;

    margin: auto;
    padding: 2em;
    border-radius: 2em;

    box-sizing: border-box;
}

.green {
    color: #0F0;
}

.blue {
    color: #00F;
}

.typed-cursor {
	width: 1em;
    background-color: #FFF;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@media screen and (min-width: 600px) {
    body {
        font-size: 18px;

        height: 100vh;

        background-image: url("../images/background-image-landscape.jpg");
    }

    #main {
        max-width: 800px;
        height: 600px;
    }

    @media screen and (max-height: 700px) {
        #main {
            height: 100%;
            overflow: scroll;
        }
    }
} 