body {
    height: 100vh;

    color: #FFF;
    font-family: monospace;
    font-size: 16px;

    padding: 2em;
    box-sizing: border-box;

    display: flex;
    align-items: center;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: none;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #F0F;
}

ul {
    list-style-type: disc;
    margin-left: 2em;
}

#container {
    width: 100%;

    margin: auto;
}

#loading {
    width: 100vw;
    height: 100vh;

    background-color: white;
    color: black;

    position: fixed;
    top: 0;
    left: 0;

    text-align: center;
    vertical-align: middle;
    line-height: 100vh; 

    z-index: 1001;
}

nav {
    width: 100%;

    text-align: center;

    margin: 0 auto 1em auto;
}

nav img {
    display: none;
}

nav a:link, nav a:visited, nav a:hover, nav a:active {
    color: white;
}

#main {
    background-color: rgba(0, 0, 0, 0.8);

    width: 100%;

    margin: auto;
    padding: 2em;
    border-radius: 2em;

    box-sizing: border-box;

    overflow: auto;
}

.green {
    color: #0F0;
}

.blue {
    color: #00F;
}

.typed-cursor {
	width: 1em;
    background-color: #FFF;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@media (min-width: 600px) {
    body {
        font-size: 18px;
    }

    #container {
        max-width: 800px;
    }

    nav {
        max-width: 800px;
    }

    nav img {
        display: inline;
        width: 4em;
        height: 4em;
        border-radius: 2em;
    }

    #main {
        max-width: 800px;
    }
} 